body{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
}
.tablet-hero{
    display: none;
}
.desktop-hero{
    display: none;
}
.logo{
   width: 343px;
   margin-top: 32px;
   margin-left:16px ;
}

.darklogo{
    width: 343px;
    height: 110px;
}
.logo p{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    width: 343px;
    height: 112px;
    margin-top: 32px;
    margin-bottom: 32px;
}
a button{
    width: 260px;
    height: 72px;
    padding: 31px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    border: none;
    background: linear-gradient(
        to right,
        #151515 75%,
        #D5966C 25%
    ); 
    color: white; 
}
a button h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 3.64px;
    line-height: 23.94px;
}
.main-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 16px;
}
.tablet-grid1{
    display: none;
}
.desktop-grid1{
    display: none;
}
.grid1{
    margin-top: 120px;
    width: 343px;
    margin-left: 16px;
}
ul{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    margin-top:25px;

}
.grid1 p{
    margin-top: 21px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.desktop-grid2{
    display: none;
}
.grid2{
   margin-top: 32px; 
}
.grid3{
    margin-top: 16px;
    width: 343px;
    
}
.desktop-grid3{
    display: none;
}
.tablet-grid3{
    display: none;
}
.last-div{
    background-color: #151515;
    color:#ffffff;
    width: 343px;
    height: 293px;
    margin-top: 16px;
}

.last-div h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    font-size: 50px;
    padding-left: 25px;
    padding-top: 48px;
}
.last-div p{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    width: 295px;
    height:90px ;
    margin:17px 25px ;
}
footer{
    background-color: #151515;
    color: #ffffff;
    width: 100%;
    height: 336px;
    margin-top: 120px; 
}
.footerlogo{
    width: 110.05px;
    height: 40px;
    margin-left: 32px;
    margin-top:48px ;
}
footer p{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    width: 311px;
    margin-left: 32px;
    margin-top:48px ;
    
} 
footer img{
    margin-left: 32px;
    margin-top:48px ;
    gap: 20px;
} 
 @media(min-width: 768px) {
.header{
    display: flex;
}
.tablet-hero{
    display: flex;
   }
.hero{
    display: none;
   }

.logo{
    position:absolute;
    margin-left: 385px;
    margin-top: 120px;
    
}

.image-grid1{
    display: none;
}
.tablet-grid1{
    display: flex;
}
.grid1{
    display: flex;
    gap: 56px;
    margin-left: 50px;
}
.main-container{
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.tablet{
        display: flex;
        flex-direction:row;
        align-items: center;
        
    }
.grid2{
    width: 398px;
    height: 720px;
    
    }
.grid3{
       display: none;
    }
    .tablet-grid3{
        display:flex;
        width:280px;
        margin-top: 30px;
    }
    ul{
        width: 223px;
    }
.last-div{
        width:280px ;
        height: 391px;
    }
.inside{
        display: flex;
        flex-direction: column;
    }

    
footer{
        display: flex;
        align-items:center;
        height: 216px;
    }
}
@media(min-width:1440px){
    .desktop-hero{
        display: flex;
        float: right;
    }
    .tablet-hero{
        display: none;
    }
    .half{
        width: 990px;
        background-color: black;
    }
    .logo{
        display:flex;
        gap: 240px;
    }
    .logo p{
        width: 350px;
        height: 160px;
    }

    .darklogo{
        margin-left:-240px ;
        width: 514px;
        height: 176px;
    }
    .main-container{
        margin-top: 30px;
    }
    .grid1{
        margin-left:175px;
        gap: 105px;
    }
    .tablet-grid1{
        display: none;
    }
    .desktop-grid1{
        display: flex;
    }
    ul{
        width: 350px;
        height: 120px;
        font-size: 60px;
        line-height: 60px;
    }
    .grid1 p{
        font-size: 22px;
        line-height: 32px;
       
    }
    .grid2{
        display: none;
    }
    .desktop-grid2{
        display: flex;
        margin-right: 30px;
    }
    .tablet-grid3{
        display: none;
    }
    .desktop-grid3{
        display: flex;
        
    }
    .last-div{
        width: 445px;
        height: 377px;
    }
    .last-div h1{
        width: 350px;
        height: 120px;
    }
    .last-div p{
        width: 350px;
        height: 96px;
        font-size: 22px;
        line-height: 32px;
    }
    
}
